.overflow-hidden {
  overflow: hidden;
}

.drop-in {
  animation: drop-in 1s ease 300ms backwards;
}

.drop-in-2 {
  animation: drop-in 2000ms ease 1000ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

p {
  color: #f5f5dc;
  text-shadow: rgb(0, 0, 0) 1px 0 1px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.divider::before {
  content: "";
  flex: 1;
  border: none;
  background-color: #f5f5dc;
  height: 1px;
  width: 50%;
  align-content: center;
  justify-content: center;
}

.divider::after {
  content: "";
  flex: 1;
  border: none;
  background-color: #f5f5dc;
  height: 1px;
  width: 50%;
  align-content: center;
  justify-content: center;
}

.divider-text {
  width: auto;
  padding: 0 1rem;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79a70a;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
